@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Book Stall</h1>
    <img style="width:500px;height:300px" src="https://wallpaperaccess.com/full/124378.jpg" />
    <h6>Good books don't give up all their secrets at once.</h6>
    <!--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
</div>
