@{
    ViewData["Title"] = "About Books";
}
<h1>@ViewData["Title"]</h1>

<!--<p>Use this page to detail your site's privacy policy.</p>-->
<p>A book is a medium for recording information in the form of writing or images,
    typically composed of many pages (made of papyrus, parchment, vellum, or paper) 
    bound together and protected by a cover.The technical term for this physical
    arrangement is codex (plural, codices). In the history of hand-held physical 
    supports for extended written compositions or records, the codex replaces its predecessor, 
    the scroll. A single sheet in a codex is a leaf and each side of a leaf is a page.</p>
    <h3>Use of Reading Books</h3>
<ul>
    <li>Books are our best friends.</li>      
    <li>Books illuminate your imagination. </li>  
    <li> Books help you form your own unique perspective of the world around you.</li>
    <li>Books build confidence.</li>
    <li>Books help you grow mentally and emotionally.</li>
    <li>Books enhance your vocabulary.</li>
    <li>Books help you learn new languages.</li>
    
</ul>
