@model CFA_CORE.Models.Customer

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cust_Name" class="control-label"></label>
                <input asp-for="Cust_Name" class="form-control" />
                <span asp-validation-for="Cust_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cust_Age" class="control-label"></label>
                <input asp-for="Cust_Age" class="form-control" />
                <span asp-validation-for="Cust_Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderdDate" class="control-label"></label>
                <input asp-for="OrderdDate" class="form-control" />
                <span asp-validation-for="OrderdDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cust_DOB" class="control-label"></label>
                <input asp-for="Cust_DOB" class="form-control" />
                <span asp-validation-for="Cust_DOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cust_MobileNo" class="control-label"></label>
                <input asp-for="Cust_MobileNo" class="form-control" />
                <span asp-validation-for="Cust_MobileNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cust_Email" class="control-label"></label>
                <input asp-for="Cust_Email" class="form-control" />
                <span asp-validation-for="Cust_Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cust_Password" class="control-label"></label>
                <input asp-for="Cust_Password" class="form-control" />
                <span asp-validation-for="Cust_Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cust_ConfirmPassword" class="control-label"></label>
                <input asp-for="Cust_ConfirmPassword" class="form-control" />
                <span asp-validation-for="Cust_ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
